<!--
    templateType: global_partial
    label: Header
-->
<header class="header">
   <div class="inner-header">
        <h1>{% module "module_16238719438295" path="@hubspot/text", label="Headline" %}</h1>
        <div class="quote">
          {% module "module_16238718323582" path="@hubspot/rich_text", label="Quote Section" %}
        </div>
        <div class="nav">
        {% module "module_16238717019752" path="/practicum-theme/modules/menu", label="Menu" %}
        </div>
   </div>
</header>