.header{
    width: 100vw;
    background-color: {{ theme.colors.accent.color }};
    padding: 10px 30px;
    position:fixed;
    top:0px;
    left: 0px;
    border-bottom: 2px solid grey;

}
.inner-header{
    display: flex;
    flex-direction: column;
}
.inner-header h1{
    font-size: 48px;
    {{theme.fonts.main.style}};
}
.nav ul{
    display: flex;
    padding-inline-start: 0px;
}
.nav ul li{
    margin: 10px;
    list-style: none;
}
.nav ul li a{
    color: #000000;
    text-decoration: none;
}